* {
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: rgb(118, 118, 118);
}

body::-webkit-scrollbar-thumb {
    background-color: #FFF;
    border-radius: 20px;
    border: 3px solid rgb(118, 118, 118);
}

.topnav {
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    overflow: hidden;
    background-color: #0D344B;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.topnav .container-nav {
    display: flex;
}

.topnav .container-nav img {
    padding: 20px 20px;
    margin-left: 20px;
}

.topnav .container-nav form {
    margin-top: 25px;
    margin-left: 30px;
    background-size: 50%;
    border-radius: 25px;
    height: 30px;
    width: 1000px;
    position: relative;

}

.topnav .container-nav form input {
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

input:focus {
    outline: none;
}

button {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

.topnav .container-nav a i img {
    width: 70px;
    margin-top: 6px;
    margin-left: 0px;
}

.login-btn {
    display: inline-block;
    padding: 10px 20px;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    border-radius: 5px;
    border: 1px solid #FFFEFE;
    background: #0D344B;
    text-decoration: none;
    margin-top: 20px;
}

.isi-halaman {
    margin-top: 100px;
}


.spanduk-halaman img {
    margin-top: 100px;
    height: 100%;

}

.container {
    padding: 15px 9%;
    padding-bottom: 100px;
}

.container .heading {
    margin-left: 0;
    color: #000000;
    text-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    font-size: 20px;
}

.container .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.container .box-container .box {
    border-radius: 5px;
    background: #fff;
    text-align: justify;
    padding: 30px 20px;
}

.container .box-container .box img {
    height: 50px;
}

.box-container .box .judul {
    font-weight: bold;
}

.container2 {
    background-color: transparent;
    border-radius: 10px;
}

div.scroll-container {
    background-color: transparent;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    scrollbar-width: thin;
}

div .scroll-container img {
    padding: 10px;
}

.container2 .box-container2 .heading {
    padding-left: 760px;
    margin: 0;
    text-decoration: none;
}

.cta-link {
    display: flex; /* Menggunakan flexbox untuk menyusun teks dan gambar dalam satu baris */
    align-items: center; /* Posisikan secara vertikal agar terpusat */
    text-decoration: none; /* Menghapus garis bawah dari link */
    color: #000; /* Warna teks */
}

.cta-link img {
    margin-left: 10px; /* Jarak antara teks dan gambar */
    height: 24px; /* Sesuaikan tinggi gambar sesuai kebutuhan */
}


.container-map {
    text-align: center;
}

.footer {
    background-color: #0D344B;
    color: #fff;
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 15px;
}

.footer .box-container .box {
    display: block;
    background: transparent;
    text-align: justify;
    padding: 30px 20px;
}

.footer .box-container .box img {
    margin-left: 75px;
    margin-top: 20px;
}

.footer .box-container .box ul a {
    text-decoration: none;
}

.footer .box-container .box ul a {
    list-style: none;
    color: white;
}

.footer .box-container .box ul a li {
    margin-bottom: 10px;
}

.footer .box-container .box .wrapping-contact {
    display: flex;
}

.footer .box-container .box .wrapping-contact img {
    margin: 10px 10px 10px 10px;
}

.footer .box-container .box .wrapping-pm {
    display: flex;
}

.footer .box-container .box .wrapping-pm img {
    width: 70px;
    margin-left: 15px;
}

.footer .box-text {
    text-align: center;
}

.footer-c .box-container {
    text-align: center;
}

.fot-1 {
    margin-left: -30px;
}

.fot-2 {
    margin-left: 12px;
}

/* Other CSS here */

.user-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 90px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin: -43px 0px 0px -90px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
}
